.a {
	margin-inline-end: 5px;
	transition: 100ms ease-in-out;
	transition-property: text-decoation, font-weight;
}

.a:hover {
	text-decoration: underline;
	cursor: pointer;
	transition: 100ms ease-in-out;
	transition-property: text-decoation, font-weight;
}

.a:active {
	font-weight: bold;
	transition: 100ms ease-in-out;
	transition-property: text-decoation, font-weight;
}
